{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Category
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">All</li>
                    {% for category in categories %}
                    <li class="list-group-item">{{category.category_name}}</li>
                    {%endfor%}
                        <a href="{% url 'add'%}" class="btn btn-dark" >Add Photo</a>
                    

                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbail"
                            src="https://i.guim.co.uk/img/media/7a633730f5f90db3c12f6efc954a2d5b475c3d4a/0_138_5544_3327/master/5544.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=27c09d27ccbd139fd0f7d1cef8f7d41d"
                            width="200px" alt="Card image cap">
                        <div class="card-body">
                            <small>Category:Pets</small>
                        </div>
                        <a href="{%url 'photo' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}