{%extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a class="btn btn-dark my-3" href="{% url 'gallery'%}">Back</a>
            <div class="" style="height: 90vh;">
                <img style="max-width: 40%; min-height: 30%;" src="https://i.guim.co.uk/img/media/7a633730f5f90db3c12f6efc954a2d5b475c3d4a/0_138_5544_3327/master/5544.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=27c09d27ccbd139fd0f7d1cef8f7d41d"
                    alt="image-cap">

                <p>

                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}